* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: lightblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 520px;
}

ol {
  padding: 0 10px 0 10px;
  min-width: 500px;
}

li {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

.delete-button {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.recipe {
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: lightblue;
}

.recipe-content {
  display: flex;
}

.recipe svg {
  width: 48px;
  min-width: 48px;
  height: 20px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.recipe svg:focus,
.recipe svg:hover {
  color: red;
  outline: none;
}

.addForm {
  background-color: #eee;
  margin: 18px 8px;
  width: 35%;
  padding-top: 5px;
  min-width: 480px;
}

.addForm div {
  padding: 8px;
}

.Nav input:focus{
  outline: none;
}

.addForm input {
  margin-right: 20px;
  padding: 4px;
  border: 2px solid;
  border-radius: 2px;
  border-color: lightgray;
  width: 250px;
}

.addForm textarea {
  margin-right: 20px;
  padding: 4px;
  border: 2px solid;
  border-radius: 2px;
  border-color: lightgray;
  width: 250px;
}

.submitButton {
  background-color: aliceblue;
  border: 1px solid;
  padding: 4px;
  display: flex;
}

.searchButton {
  background-color: rgb(91, 91, 241);
  border: 0 solid;
  padding: 4px 15px;
  border-radius: 8px;
  color: aliceblue;
  font-size: 15px;
  cursor: pointer;
}

.addForm select {
  margin-left: 12px;
  background-color: aliceblue;
  border: 1px solid;
  padding: 4px;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  min-width: 520px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  height: 100%;
  margin-right: 15px;
}

.Nav li {
  width: 60px;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.searchForm {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-wrap: nowrap;
  width: 320px;
}

.Nav form {
  min-width: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchForm input {
  margin: 0 2px;
  padding: 4px 6px;
  border-radius: 8px;
  border-color: lightgray;
  border: 2px;
  position: relative;
}

.resetButton {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  color: #eee;
  border: none;
  margin: 0 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.resetButton:hover {
  background-color: #eee;
  color: #333;
  outline: none;

}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

.addForm h3 {
  margin-left: 8px;
}
